HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/backend/out/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/
build/

# Node
node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
.angular/
.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
testem.log
/frontend/typings

# System files
.DS_Store
Thumbs.db
